/* Base styles */


.order-page {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: green;
  margin-bottom: 30px;
}

.order-card {
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ordered-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ordered-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.ordered-product:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ordered-product img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.ordered-product div {
  flex: 1;
}

.ordered-product p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.ordered-product p strong {
  font-size: 18px;
  color: #333;
}

/* Responsive Media Queries */
/* Media Query for tablets (max-width: 800px) */
@media (max-width: 800px) {
  .order-page {
    padding: 20px 10px;
  }
  .ordered-product {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    width: 250px;
  }

  .ordered-product img {
    width: 50px;
    height: 50px;
   
  }

  .ordered-product div {
    width: 100%;
  }

  h1 {
    font-size: 25px;
  }
}

/* Media Query for mobile phones (max-width: 500px) */
@media (max-width: 500px) {
  .order-page {
    padding: 20px 10px;
  }

  .ordered-product {
    padding: 50px;
    width: 250px;
  }

  .ordered-product img {
    width: 50px;
    height: 50px;
  }

  .ordered-product p {
    font-size: 14px;
  }

  .ordered-product p strong {
    font-size: 16px;
  }

  h1 {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .order-page {
    padding: 25px;
  }

  h2 {
    font-size: 30px;
  }

  .ordered-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ordered-product {
    width: 48%;
    margin-bottom: 20px;
  }

  .ordered-product img {
    width: 110px;
    height: 110px;
  }

  .ordered-product p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .order-page {
    padding: 30px;
  }

  h2 {
    font-size: 32px;
  }

  .ordered-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .ordered-product {
    width: 48%;
    margin-bottom: 20px;
  }

  .ordered-product img {
    width: 120px;
    height: 120px;
  }

  .ordered-product p {
    font-size: 18px;
  }
}


  